*.iml
.idea
.vscode
.temp
*.iws
*.log
*.cache
.DS_Store
*.n
*.zip
.haxelib/
out/
node_modules
.DS_Store
log/
target/
callgrind.*
debug/

check-style-report.json
check-style-report.xml
coverage.json
haxecheckstyle.js

display.hxml
core
.unittest
