git:
    depth: 1

language: haxe
haxe:
  - 3.4.2
  - development
install:
  - haxelib install haxeparser 3.3.0
  - haxelib install compiletime 2.6.0
  - haxelib install hxargs 3.0.2
  - haxelib install mcover 2.1.1
script:
  - haxe buildAll.hxml

after_success:
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
sudo: false
